* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100vw;
  height: 300vh;
  background-color: rgb(212, 211, 211) !important;
}

.navbar {
  padding-left: 80px;
  padding-right: 80px;
}
.nav-item {
  margin-left: 16px;
  transition: all 0.3s;
  letter-spacing: 0.8px;
}
.nav-link {
  transition: all 0.3s;
}
.nav-link:hover {
  transform: scale(1.06, 1.06);
}

html,
body {
  overflow-x: hidden !important;
}

#carouselExampleFade:hover .carousel-control-prev-icon {
  display: inline !important;
}

#carouselExampleFade:hover .carousel-control-next-icon {
  display: inline !important;
}

.carouselAndButtons {
  display: grid;
  grid-template-columns: 0vw 100vw 0vw;
  grid-template-rows: 64vh;
  text-align: center;
}

@media (max-width: 500px) {
  .navbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .carouselAndButtons {
    display: grid;
    grid-template-columns: 0vw 100vw 0vw;
    grid-template-rows: 30vh;
    text-align: center;
  }
  .carousel-item > div {
    height: 30vh !important;
  }
}

.fa-arrow-left {
  cursor: pointer;
}

.fa-arrow-left,
.fa-arrow-right {
  padding: 6.4px;
  background-color: gray;
  color: white;
}

.fa-arrow-right {
  cursor: pointer;
  margin-left: 8px;
}

.fa-arrow-left:hover {
  transform: scale(1.1, 1.1);
}

.fa-arrow-right:hover {
  transform: scale(1.1, 1.1);
}

#productsOption:hover #productsDropdown {
  display: block !important;
}

#aboutOption:hover #aboutDropdown {
  display: block !important;
}

#productsDropdown > li:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}

#aboutDropdown > li:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
}

#carouselExampleFade {
  position: relative !important;
}

.navbar-toggler {
  box-shadow: none !important;
  border: none !important;
}

.navbar-toggler {
  transition: all 0.4s;
}

.oneOfThreeProductCards:hover {
  transform: scale(1.02, 1.02);
}

.contactUsInputOnImage:focus {
  outline: none !important;
}

.contactUsInputOnImage {
  margin-top: 8px !important;
  color: black !important;
}
